---
layout: default
title: Portfolio
pagetitle: true
---

{% include nav.html %}

{% include mini-hero.html %}
<section class="grid-noGutter">
  <div class="col-6_xs-12 grid-noGutter">
    <div class="col-12">
    {% for item in site.portfolio limit:1 %}
      <div class="padded1">
        <a href="{{item.url}}"><div class="mainpage-preview position-relative background-black">
          <div class="bg-img position-absolute" style="background-image:url('{{item.featured-img}}')">
          </div>
          <div class="preview-text position-absolute">
            <h5 class="padded1">{{item.title}}</h5>
            <p class="padded1">{{item.description}}
            <span class="underline">Read more.</span></p>
          </div>
        </div></a>
      </div>
    {% endfor %}
    </div>
    {% for item in site.portfolio offset:1 limit:2 %}
    <div class="col-6_sm-12">
      <div class="padded1">
        <a href="{{item.url}}"><div class="mainpage-previewSmall position-relative background-black">
          <div class="bg-img position-absolute" style="background-image:url('{{item.featured-img}}')">
          </div>
          <div class="preview-text position-absolute">
            <h5 class="padded1">{{item.title}}</h5>
            <p class="padded1">{{item.description}}
            <span class="underline">Read more.</span></p>
          </div>
        </div></a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-6_xs-12 grid-noGutter">
    {% for item in site.portfolio offset:3 limit:2 %}
    <div class="col-6_sm-12">
      <div class="padded1">
        <a href="{{item.url}}"><div class="mainpage-previewSmall position-relative background-black">
          <div class="bg-img position-absolute" style="background-image:url('{{item.featured-img}}')">
          </div>
          <div class="preview-text position-absolute">
            <h5 class="padded1">{{item.title}}</h5>
            <p class="padded1">{{item.description}}
            <span class="underline">Read more.</span></p>
          </div>
        </div></a>
      </div>
    </div>
    {% endfor %}
    <div class="col-12">
    {% for item in site.portfolio offset:5 limit:1 %}
      <div class="padded1">
        <a href="{{item.url}}"><div class="mainpage-preview position-relative background-black">
          <div class="bg-img position-absolute" style="background-image:url('{{item.featured-img}}')">
          </div>
          <div class="preview-text position-absolute">
            <h5 class="padded1">{{item.title}}</h5>
            <p class="padded1">{{item.description}}
            <span class="underline">Read more.</span></p>
          </div>
        </div></a>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="col-6_xs-12 grid-noGutter">
    <div class="col-12">
    {% for item in site.portfolio offset:6 limit:1 %}
      <div class="padded1">
        <a href="{{item.url}}"><div class="mainpage-preview position-relative background-black">
          <div class="bg-img position-absolute" style="background-image:url('{{item.featured-img}}')">
          </div>
          <div class="preview-text position-absolute">
            <h5 class="padded1">{{item.title}}</h5>
            <p class="padded1">{{item.description}}
            <span class="underline">Read more.</span></p>
          </div>
        </div></a>
      </div>
    {% endfor %}
    </div>
    {% for item in site.portfolio offset:7 limit:2 %}
    <div class="col-6_sm-12">
      <div class="padded1">
        <a href="{{item.url}}"><div class="mainpage-previewSmall position-relative background-black">
          <div class="bg-img position-absolute" style="background-image:url('{{item.featured-img}}')">
          </div>
          <div class="preview-text position-absolute">
            <h5 class="padded1">{{item.title}}</h5>
            <p class="padded1">{{item.description}}
            <span class="underline">Read more.</span></p>
          </div>
        </div></a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-6_xs-12 grid-noGutter">
    {% for item in site.portfolio offset:9 limit:2 %}
    <div class="col-6_sm-12">
      <div class="padded1">
        <a href="{{item.url}}"><div class="mainpage-previewSmall position-relative background-black">
          <div class="bg-img position-absolute" style="background-image:url('{{item.featured-img}}')">
          </div>
          <div class="preview-text position-absolute">
            <h5 class="padded1">{{item.title}}</h5>
            <p class="padded1">{{item.description}}
            <span class="underline">Read more.</span></p>
          </div>
        </div></a>
      </div>
    </div>
    {% endfor %}
    <div class="col-12">
    {% for item in site.portfolio offset:11 limit:1 %}
      <div class="padded1">
        <a href="{{item.url}}"><div class="mainpage-preview position-relative background-black">
          <div class="bg-img position-absolute" style="background-image:url('{{item.featured-img}}')">
          </div>
          <div class="preview-text position-absolute">
            <h5 class="padded1">{{item.title}}</h5>
            <p class="padded1">{{item.description}}
            <span class="underline">Read more.</span></p>
          </div>
        </div></a>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="col-6_xs-12 grid-noGutter">
    <div class="col-12">
    {% for item in site.portfolio offset:12 limit:1 %}
      <div class="padded1">
        <a href="{{item.url}}"><div class="mainpage-preview position-relative background-black">
          <div class="bg-img position-absolute" style="background-image:url('{{item.featured-img}}')">
          </div>
          <div class="preview-text position-absolute">
            <h5 class="padded1">{{item.title}}</h5>
            <p class="padded1">{{item.description}}
            <span class="underline">Read more.</span></p>
          </div>
        </div></a>
      </div>
    {% endfor %}
    </div>
    {% for item in site.portfolio offset:13 limit:2 %}
    <div class="col-6_sm-12">
      <div class="padded1">
        <a href="{{item.url}}"><div class="mainpage-previewSmall position-relative background-black">
          <div class="bg-img position-absolute" style="background-image:url('{{item.featured-img}}')">
          </div>
          <div class="preview-text position-absolute">
            <h5 class="padded1">{{item.title}}</h5>
            <p class="padded1">{{item.description}}
            <span class="underline">Read more.</span></p>
          </div>
        </div></a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-6_xs-12 grid-noGutter">
    {% for item in site.portfolio offset:15 limit:2 %}
    <div class="col-6_sm-12">
      <div class="padded1">
        <a href="{{item.url}}"><div class="mainpage-previewSmall position-relative background-black">
          <div class="bg-img position-absolute" style="background-image:url('{{item.featured-img}}')">
          </div>
          <div class="preview-text position-absolute">
            <h5 class="padded1">{{item.title}}</h5>
            <p class="padded1">{{item.description}}
            <span class="underline">Read more.</span></p>
          </div>
        </div></a>
      </div>
    </div>
    {% endfor %}
    <div class="col-12">
    {% for item in site.portfolio offset:17 limit:1 %}
      <div class="padded1">
        <a href="{{item.url}}"><div class="mainpage-preview position-relative background-black">
          <div class="bg-img position-absolute" style="background-image:url('{{item.featured-img}}')">
          </div>
          <div class="preview-text position-absolute">
            <h5 class="padded1">{{item.title}}</h5>
            <p class="padded1">{{item.description}}
            <span class="underline">Read more.</span></p>
          </div>
        </div></a>
      </div>
    {% endfor %}
    </div>
  </div>
  </section>




<div class="padded3">
  <section class="portfolio-footer">
    {% include footer.html %}
  </section>
</div>
