<footer>
  <div class="grid-spaceBetween padded2tb footer-text">
    <div class="col-3_sm-12">
      <div class="">
        <h6 class="right"><a href="/">all good</a></h6>
        <p class="right logotag">studios - </p>
        <div class="nav lineheight">
          <p class="grey"><a href="/portfolio">Portfolio -</a></p>
          <p><a href="/portfolio/hospitality">Hospitality</a></p>
          <!-- <p><a href="/portfolio/retail">Retail</a></p> -->
          <p><a href="/portfolio/residential">Residential</a></p>
          <p><a href="/portfolio/commercial">Commercial</a></p>
        </div>
      </div>
    </div>
    <div class="col-5_sm-12 grid-spaceBetween">
      <div class="col-6_sm-12 lineheight padded2t">
        <p class="grey">Call -</p>
        <p class="padded1b"><a href="tel:0432809356">+61 432 809 356</a></p>
        <p class="grey">Email -</p>
        <p><a href="mailto:hello@allgoodstudios.com.au">hello@allgoodstudios.com.au</a></p>
      </div>
      <div class="col-3_sm-12 lineheight padded2t">
        <p class="grey">Follow -</p>
        <p class="">
          <a href="http://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i> instagram</a>
        </p>
      </div>
    </div>
  </div>

  <div class="center copyright">
    <p class=""><i class="far fa-copyright"></i> All Good Studios, 2018 | All rights reserved | Web Development by <a href="http://www.getwanderlostandfound.com/work-with-me" target="_blank" class="underline">Wanderlost + Found</p>
  </div>

</footer>
