<section id="fullpage">
  {% for item in site.portfolio limit:10 %}
  <div class="section">
    <a href="{{item.url}}"><div class="mainpage-preview position-relative background-black">
      <div class="bg-img position-absolute" style="background-image:url('{{item.featured-img}}')">
      </div>
      <div class="preview-text position-absolute">
        <h5 class="gallery-title">{{item.title}}</h5>
        <p class="gallery-desc">{{item.description}}</p>
        <p class="underline read-more">Read more.</p>
      </div>
    </div></a>
  </div>
  {% endfor %}
</section>
