<div class="sidebar animate-right" id="sidebar" style="display:none">
  <button class="close"><p>X</p></button>
  <div class="grid-noGutter">
    <div class="col-4_xs-12">
      <div class="padded-1">
      <a href="/"><h6 class="right">all good</h6>
      <p class="right logotag-sidebar">studios - </p></a>
    </div>
    </div>
  </div>
  <div class="padded-1 mobilepad grey">
    <p class="padded-1 mobilepad grey">Services -</p>
    <div class="padded-1 mobilepad">
      <p>Interior Architecture</p>
      <p>Interior Design</p>
      <p>Spacial Planning</p>
      <p>Bespoke Furniture & Lighting</p>
      <p>Branding & Graphic</p>
      <p>Art Direction</p>
    </div>
    <div class="spacer">
    </div>
  </div>
  <div class="padded-1 mobilepad">
    <p class="padded-1 mobilepad">About -</p>
    <p class="padded-1 mobilepad">We are a multi-disciplinary interior design practice providing clients with a high end, bespoke finish, to any taste and ambition. We work across a range of projects from large scale commercial installations to private residential projects, with equal focus on functionality and aesthetic.</p>
  </div>
  <div class="spacer">
  </div>
  <div class="padded-1 mobilepad">
    <p class="padded-1 mobilepad">Contact -</p>
    <div class="padded-1 mobilepad">
      <p class="lineheight"><a href="tel:0432809356">+61 432 809 356</a></p>
      <p class="lineheight"><a href="mailto:hello@allgoodstudios.com.au">hello@allgoodstudios.com.au</a></p>
    </div>
    <p class="padded-1 mobilepad">Follow -</p>
    <p class="padded-1 mobilepad">
      <a href="http://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    </p>
  </div>
</div>
