<div class="sidebar animate-right" id="sidebar" style="display:none">
  <button class="close"><p>X</p></button>
  <div class="padded-1">
    <h6 class="padded-1">Services -</h6>
    <div class="padded-1">
      <p>Interior Architecture</p>
      <p>Interior Design</p>
      <p>Bespoke Furniture & Lighting</p>
      <p>Branding & Graphic</p>
      <p>Art Direction</p>
    </div>
  </div>
  <div class="padded-1">
    <h6 class="padded-1">About -</h6>
    <p class="padded-1">We are a multi-disciplinary interior design practice providing clients with a high end, bespoke finish, to any taste and ambition. We work across a range of projects from large scale commercial installations to private residential projects, with equal focus on functionality and aesthetic.</p>
  </div>
  <div class="padded-1">
    <h6 class="padded-1">Contact -</h6>
    <p class="padded-1"><a href="tel:0432809356">+61 432 809 356</a></p>
    <p class="padded-1"><a href="mailto:hello@allgoodstudios.com.au">hello@allgoodstudios.com.au</a></p>
  </div>
</div>
