---
layout: default
title: Portfolio/Commercial
pagetitle: true
---

{% include nav.html %}

<section id="fullpage">
  <div class="section fp-auto-height">
    {% include mini-hero.html %}
  </div>

      {% for item in site.portfolio %}
        {% if item.sector == "Commercial" %}
          {% include tile-gallery.html %}
        {% endif %}
      {% endfor %}

  <div class="section fp-auto-height padded3">
    <section class="portfolio-footer">
      {% include footer.html %}
    </section>
  </div>
</section>
