<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto+Mono" rel="stylesheet">
    <title>All Good Studios</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href="https://file.myfontastic.com/XmG9pkMCLqiQxgQP2yZHdF/icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/gridlex.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <meta name="viewport" content="width=device-width, user-scalable=0">
  </head>

  <body>
    <div id="loading" class="grid-middle-center-noGutter-noBottom">
  <div class="center">
    <h6>all good</h6>
      <img class="load-gif" src="../images/kit_repeat.jpg"/>
  </div>
</div>
    <div class="">
      {{content}}
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="/js/loading.js"></script>
    <!-- <script src="/js/navappear.js"></script> -->
    <script src="/js/sidebarOpen.js"></script>
  </body>
</html>
