<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto+Mono" rel="stylesheet">
    <title>All Good Studios</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href="https://file.myfontastic.com/XmG9pkMCLqiQxgQP2yZHdF/icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/gridlex.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/jquery.fullPage.css">
    <!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="/allgood.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/allgood.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/allgood-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/allgood-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/allgood-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/allgood-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/allgood-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/allgood-16.png">
	<link rel="apple-touch-icon" href="/allgood-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/allgood-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/allgood-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/allgood-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/allgood-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/allgood-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/allgood-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/allgood-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/allgood-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/allgood-144.png">
	<meta name="msapplication-config" content="/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->
    <meta name="viewport" content="width=device-width, user-scalable=0">
  </head>

  <body>

    <div class="">
      {{content}}
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="/js/loading.js"></script>
    <!-- <script src="/js/navappear.js"></script> -->
    <script src="/js/sidebarOpen.js"></script>
    <script type="text/javascript" src="/js/jquery.fullPage.js"></script>
    <script src="/js/snapScroll.js"></script>

  </body>
</html>
