---
layout: default
---
{% include nav-mini.html %}

<div class="padded3">
  <section class="header padded-1">
    <div class="header-img" style="background-image:url('{{page.header-img}}')">
    </div>
  </section>
  <section class="tablet">
    <div class="padded2">
      <h2 class="padded-1 page-desc">{{page.title}}</h2>
    </div>
    <div class="padded-1">
      <div class="sector">
        <div class="">
          <p class="grey">Sector:</p>
          <p>{{page.sector}}</p>
        </div>
      </div>
      <div class="create">
        <div class="">
          <p class="grey">We helped create:</p>
          <p>{{page.created}}</p>
        </div>
        <div class="">
        </div>
      </div>
    </div>
    <div class="padded-1">
      <h4 class="padded-1 page-desc">{{page.description}}</h4>
    </div>
    <div class="portfolio-text">
      <div class="main-text padded-1">
        {{content}}
      </div>
    </div>
    <div class="padded-1">
      <div class="portfolio-imgh" style="background-image:url('{{page.horizontal-img1}}')">
      </div>
    </div>
    <div class="padded-1">
      <div class="portfolio-imgh" style="background-image:url('{{page.horizontal-img2}}')">
      </div>
    </div>
  </section>

  <section class="desktop">
    <section class="grid-noGutter">
      <div class="col-6_sm-12">
        <div class="padded2">
          <h2 class="padded-1 page-desc">{{page.title}}</h2>
        </div>
        <div class="padded-1">
          <div class="grid sector">
            <div class="col-6_sm-12">
              <p class="grey">Sector:</p>
              <p>{{page.sector}}</p>
            </div>
            <div class="col-6_sm-12 spacer">
            </div>
          </div>
          <div class="grid create">
            <div class="col-6_sm-12">
              <p class="grey">We helped create:</p>
              <p>{{page.created}}</p>
            </div>
            <div class="col-6_sm-12">
            </div>
          </div>
        </div>
      </div>
      <div class="col-6_sm-12">
        <div class="padded-1">
          <div class="horizontal-image" style="background-image:url('{{page.horizontal-img1}}')">
          </div>
        </div>
      </div>
    </section>
    <section class="grid-noGutter">
      <div class="col-6_sm-12">
        <div class="padded-1">
          <div class="horizontal-image" style="background-image:url('{{page.horizontal-img2}}')">
          </div>
        </div>
      </div>
      <div class="col-6_sm-12-middle">
        <h4 class="padded-1 page-desc">{{page.description}}</h4>
      </div>
    </section>

    <section class="portfolio-text">
      <div class="main-text padded-1">
        {{content}}
      </div>
    </section>

  </section>

  <section class="grid-noGutter padded3b">
    <div class="col-6_xs-12">
      <div class="padded-1">
        <div class="portfolio-imgv" style="background-image:url('{{page.vertical-img1}}')">
        </div>
      </div>
    </div>
    <div class="col-6_xs-12">
      <div class="padded-1">
        <div class="portfolio-imgv" style="background-image:url('{{page.vertical-img2}}')">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="padded-1">
        <div class="portfolio-imgh" style="background-image:url('{{page.horizontal-img3}}')">
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio-footer">
    {% include footer.html %}
  </section>
</div>
