---
layout: default
---
{% include nav.html %}

<section class="">
  <div class="header-img" style="background-image:url('{{page.header-img}}')">
  </div>
</section>

<section class="portfolio-text">
  <div class="sector">
    <p>Sector:</p>
    <p>{{page.sector}}</p>
  </div>
  <div class="create">
    <p>We helped create:</p>
    <p>{{page.created}}</p>
  </div>
  <div class="main-text">
    {{content}}
  </div>
</section>

<section class="col-12 gallery">
  <div class="col-12 portfolio-imgh">
    <img src="{{page.horizontal-img1}}">
  </div>
  <div class="col-6 portfolio-imgv">
    <img src="{{page.vertical-img1}}">
  </div>
  <div class="col-6 portfolio-imgv">
    <img src="{{page.vertical-img2}}">
  </div>
  <div class="col-12 portfolio-imgh">
    <img src="{{page.horizontal-img2}}">
  </div>
  <div class="col-12 portfolio-imgh">
    <img src="{{page.horizontal-img3}}">
  </div>
</section>
