---
layout: default
---
<div id="loading" class="grid-middle-center-noGutter-noBottom">
  <div class="center">
  </div>
</div>
{% include project-nav.html %}

<div class="padded3">
  <section class="header padded-1">
    <div class="header-img" style="background-image:url('{{page.header-img}}')">
    </div>
  </section>
  <section class="main-text">
    <div class="padded2">
      <h2 class="page-desc">{{page.title}}</h2>
    </div>
    <div class="padded2">
      <div class="grid-noGutter">
        <div class="col-6_xs-5">
          <p class="grey">Sector:</p>
          <p>{{page.sector}}</p>
        </div>
        <div class="col-4_xs-7">
          <p class="grey">We helped create:</p>
          <p>{{page.created}}</p>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    <div class="padded2">
      {{content}}
    </div>
  </section>

  <section class="grid-noGutter padded3b">
    <div class="col-6">
      <div class="padded-1 portfolio-img vert1">
        <div class="portfolio-imgv" style="background-image:url('{{page.vertical-img1}}')">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="padded-1 portfolio-img vert2">
        <div class="portfolio-imgv" style="background-image:url('{{page.vertical-img2}}')">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="padded-1 portfolio-img">
        <div class="portfolio-imgh" style="background-image:url('{{page.horizontal-img1}}')">
        </div>
      </div>
    </div>
    <div class="col-12">
    <div class="padded-1 portfolio-img">
      <div class="portfolio-imgh" style="background-image:url('{{page.horizontal-img2}}')">
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="padded-1 portfolio-img">
      <div class="portfolio-imgh" style="background-image:url('{{page.horizontal-img3}}')">
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="padded-1 portfolio-img">
      <div class="portfolio-imgh" style="background-image:url('{{page.horizontal-img4}}')">
      </div>
    </div>
  </div>
  </section>
  <section class="grid-spaceBetween padded-1">
    <div class="col-2_xs-4">
      <p><a href="/"><i class="fas fa-long-arrow-alt-left"></i>  <span class="underline">home</span></a></p>
    </div>
  </section>
  <section class="portfolio-footer">
    {% include footer.html %}
  </section>
</div>
