/* ----- CSS RESET -----*/
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
/* *{
  border: 1px solid rgb(220,220,220);
} */

/* ----- LAYOUT, PADDING, MARGIN ---- */
.padded-1 {
  padding: 0.5rem;
}
.padded1 {
  padding: 1rem;
}
.padded1t {
  padding: 1rem 0 0 0;
}
.padded2 {
  padding: 2rem;
}
.padded2b {
  padding-bottom: 2rem;
}
.padded2tb {
  padding: 2rem 0;
}
.padded3 {
  padding: 3rem;
}
.padded3b {
  padding-bottom: 3rem;
}
.padded6 {
  padding: 6rem;
}

/* ----- TYPOGRAPHY ----- */

body {
  font-family: 'Lato', sans-serif;
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
}

h1,
h6 {
  color: black;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  font-size: 4rem;
}
h2,
h4 {
  font-family: 'Special Elite', cursive;
  font-size: 3.5rem;
  text-align: center;
  color: rgb(40,40,40);
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-family: 'Special Elite', cursive;
  font-size: 1rem;
}
h6 {
  font-size: 2.5rem;
}
a:hover {
  color: rgb(232,162,66);
}
a {
  text-decoration: none;
  color: inherit;
}

/* ----- HELPERS ---- */
.spacer {
  min-height: 15vh;
}
.grey {
  color: rgb(152,152,152);
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.lineheight {
  line-height: 1.5rem;
}
.underline,
.underline a {
  text-decoration: underline;
}
.underline:hover {
  color: rgb(232,162,66);
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.background-black {
  background-color: #000;
}
/* ----- BUTTON STYLES ---- */
button {
  background-color: transparent;
  border: none;
}
button:hover {
  color: rgb(232,162,66);
  cursor: pointer;
}
button:hover h1 {
  color: rgb(232,162,66);
}
button:focus {
  outline: 0;
}

/* ----- NAV STYLES ---- */
.icon {
  font-size: 5rem;
}
.nav-mini {
  position: absolute;
  padding: 4rem 5rem;
}
.nav-mini h1 {
  color: white;
}
.mainMenu {
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100%;
  padding: 0.5rem 3rem;
  transition: 0.7s;
}
.sidebar h6 {
  font-size: 1.5rem;
}
.sidebar {
  height: 100vh;
  width: 50vw;
  background-color: white;
  opacity: 1;
  position: absolute;
  right: 0;
  z-index: 3;
}
.close {
  width: 100%;
}
.close p {
  text-align: right;
  font-size: 1.5rem;
  padding: 1rem 3rem;
}
.animate-right {
  position: absolute;
  right: 0;
  animation: animateright 0.6s
}
@keyframes animateright {
  from{right:-300px;opacity:0}
  to{right:0;opacity:1}
}
/* ----- HERO STYLES ---- */
.parallax,
.short-parallax {
  background-image: url(/images/geo1small.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
}
.short-parallax {
  opacity: .7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mini-hero {
  height: 60vh;
}
.page-title {
  font-size: 7rem;
  color: white;
  width: 100%;
  text-align: center;
  bottom: 5.5rem;
}

/* ----- TILE GALLERY STYLES ----- */
.page-preview {
  width: auto;
  min-height: 75vh;
}
.page-preview p,
.page-preview h5,
.mainpage-preview p,
.mainpage-preview h5,
.mainpage-previewSmall p,
.mainpage-previewSmall h5,
.portfolio-gallery p,
.portfolio-gallery h5 {
  color: white;
}
.tile-gallery {
  padding: 3rem 6rem;
}
.gallery-padding {
  padding: 0.5rem;
}
.bg-img {
  background-position: center;
  background-size: cover;
  opacity: .7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.preview-text {
  z-index: 1;
  bottom: 0;
}

/* ----- MAIN GALLERY STYLES ----- */

.mainpage-preview {
  width: auto;
  min-height: 100vh;
}
.mainpage-previewSmall {
  width: auto;
  min-height: 50vh;
}

/* ----- FOOTER STYLES ---- */

.portfolio-footer {
  border-top: 1px solid rgb(152,152,152);
}
.footer-text {
  font-size: 1.1rem;
}
.copyright {
  font-family: 'Special Elite', cursive;
  font-size: 0.8rem;
}
.copyright a {
  text-decoration: underline;
}


/* ----- PORTFOLIO PAGE STYLES ----- */
.header-img {
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.horizontal-image {
  height: 60vh;
  background-position: center;
  background-size: cover;
}
.sector p,
.create p {
  font-size: 1.2rem;
  font-family: 'Special Elite', cursive;
  padding: 0.25rem;
}
.sector {
  padding-top: 2rem;
}
.portfolio-text {
  padding: 1rem 0;
}
.portfolio-imgv {
  height: 120vh;
  background-position: center;
  background-size: cover;
}
.portfolio-imgh {
  height: 100vh;
  padding-top: 1rem;
  background-position: center;
  background-size: cover;
}

/* ----- MEDIA QUERIES ---- */
/* Tablet */
@media screen and (min-width: 1023px) {
  .tablet {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .parallax {
    background-attachment: scroll;
  }
  body {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 2rem;
  }
  .sidebar {
    width: 75vw;
  }
  .page-title {
    font-size: 3.5rem;
    bottom: 7.5rem;
  }
  .sector p,
  .create p {
    font-size: 1.1rem;
  }
  .sector {
    padding: 0 0 1rem 0;
  }
  .padded3 {
    padding: 0.5rem;
  }
  .padded2 {
    padding: 0.5rem;
  }
  .padded2tb {
    padding: 0.5rem;
  }
  .padded1 {
    padding: 0.5rem;
  }
  .mainMenu {
    padding: 0.5rem;
  }
  .spacer {
    display: none;
  }
  .parallax {
    height: 75vh;
  }
  .tile-gallery {
    padding: 0.5rem;
  }
  .gallery {
    padding: 0.5rem;
  }
  .mainpage-previewSmall {
    height: 75vh;
  }
  .portfolio-gallery {
    height: 75vh;
  }
  .page-preview p,
  .page-preview h5,
  .mainpage-preview p,
  .mainpage-preview h5,
  .mainpage-previewSmall p,
  .mainpage-previewSmall h5,
  .portfolio-gallery p,
  .portfolio-gallery h5 {
    padding: 1rem;
  }
  .page-desc {
    padding: 2rem 0 0 0;
    text-align: left;
  }
  .icon {
    font-size: 4rem;
  }
  .nav-mini {
    padding: 2rem;
  }
  .desktop {
    display: none;
  }
  .portfolio-imgv {
    height: 90vh;
  }
  .portfolio-imgh {
    height: 70vh;
  }
  .header-img {
    height: 70vh;
  }
  footer {
    padding: 0.5rem 1rem;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h6 {
    font-size: 1.4rem;
  }
  .sector p,
  .create p {
    font-size: 1rem;
  }
  .sector,
  .create {
    padding: 0.5rem 1rem;
  }
  .page-title {
    font-size: 2rem;
    bottom: 2rem;
  }
  .icon {
    font-size: 2.75rem;
  }
  .footer-text {
    font-size: 0.9rem;
  }
  .copyright {
    font-size: 0.75rem;
    padding: 1rem;
  }
  .right {
    text-align: center;
  }
  .padded-1 {
    padding: 0;
  }
  .padded1 {
    padding: 0.5rem 0;
  }
  .padded2b,
  .padded2tb,
  .padded3 {
    padding: 0;
  }
  .sidebar {
    width: 100vw;
    padding: 1rem;
  }
  .mobilepad {
    padding: 0.5rem;
  }
  .parallax {
    display: none;
  }
  .mini-hero {
    height: 30vh;
  }
  .mainpage-previewSmall {
    height: 100vh;
  }
  .tile-gallery {
    padding: 0.5rem 0;
  }
  .gallery-padding {
    padding: 0.5rem 0;
  }
  .page-preview p,
  .page-preview h5,
  .mainpage-preview p,
  .mainpage-preview h5,
  .mainpage-previewSmall p,
  .mainpage-previewSmall h5,
  .portfolio-gallery p,
  .portfolio-gallery h5 {
    padding: 0rem 1rem 1rem 1rem;
  }
  .nav-mini {
    padding: 1rem;
  }
  .header-img {
    height: 40vh;
  }
  .page-desc {
    padding: 1rem;
  }
  .portfolio-text {
    padding: 0.5rem;
  }
  .portfolio-imgv {
    height: 40vh;
  }
  .portfolio-imgh {
    height: 35vh;
  }
  .portfolio-img {
    padding: 0.5rem 0;
  }
  .vert1 {
    padding-right: 0.5rem;
  }
  .vert2 {
    padding-left: 0.5rem;
  }

}
